adf/pipeline/ap_pl_batch_ingest_dev_subset.json
{
	"name": "ap_pl_batch_ingest_dev_subset",
	"properties": {
		"activities": [
			{
				"name": "Fetch_Data",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.fileList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ap_copy_file_to_bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ap_ds_http_csv_source",
									"type": "DatasetReference",
									"parameters": {
										"relativeFileURL": {
											"value": "@item().relativeFileURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ap_ds_adls_bronze_sink",
									"type": "DatasetReference",
									"parameters": {
										"folderName": {
											"value": "@item().folderName",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "notify_failure_email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Fetch_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-00.uksouth.logic.azure.com:443/workflows/0a0008b21cc944c696f62db6db4c393e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=XHP-7-PGZZDBhqiIszENUPslZNWPa9ASPyimVhhAO7o",
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"runId\": \"@{pipeline().RunId}\",\n    \"status\": \"FAILED\",\n    \"errorMessage\": \"Pipeline failed during execution. Check ADF Monitor for the specific activity error using Run ID below.\",\n    \"startTime\": \"@{utcNow()}\",\n    \"endTime\": \"@{utcNow()}\",\n    \"dataFactory\": \"@{pipeline().DataFactory}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fileList": {
				"type": "array",
				"defaultValue": [
					{
						"relativeFileURL": "data-generation/dev_subset/ustomers.csv",
						"folderName": "batch/customers",
						"fileName": "customers.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/sites.csv",
						"folderName": "batch/sites",
						"fileName": "sites.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/contracts.csv",
						"folderName": "batch/contracts",
						"fileName": "contracts.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/billing_invoices.csv",
						"folderName": "batch/billing_invoices",
						"fileName": "billing_invoices.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/wholesale_prices_historical.csv",
						"folderName": "batch/wholesale_prices",
						"fileName": "wholesale_prices_historical.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202401.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202401.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202402.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202402.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202403.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202403.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202404.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202404.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202405.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202405.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202406.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202406.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202407.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202407.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202408.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202408.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202409.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202409.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202410.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202410.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202411.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202411.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202412.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202412.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202501.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202501.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202502.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202502.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202503.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202503.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202504.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202504.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202505.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202505.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202506.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202506.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202507.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202507.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202508.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202508.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202509.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202509.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202510.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202510.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202511.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202511.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202512.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202512.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202601.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202601.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202602.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202602.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202603.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202603.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202604.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202604.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202605.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202605.csv"
					},
					{
						"relativeFileURL": "data-generation/dev_subset/historical_meter_readings/meter_readings_202606.csv",
						"folderName": "batch/meter_readings",
						"fileName": "meter_readings_202606.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-25T23:51:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}